#categories-dropdown {
  margin-top: 1em;
}

#meals-list {
  margin: 1em;
  margin-bottom: 2em;
}

.meal {
  max-width: 50%;
}

#instructions{
  margin-top: 1em;
}

#random-recipe{
  margin-bottom: 2em;
}

.vertical-center{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}