#categories-dropdown {
  margin-top: 1em;
}

#meals-list {
  margin: 1em;
  margin-bottom: 2em;
}

.mealImg {
  max-width: 100%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}

#instructions{
  margin-top: 1em;
}

#random-recipe{
  margin-bottom: 2em;
}

.vertical-center{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ingredients {
  display: inline-block;
  width: 50%;
}

.img-wrap {
  width: 50%;
  height: 13em;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .img-wrap {
    display: block;
  }
  .random-meal-name {
    font-size: 0.8em;
  }
  .ingredients {
    width: 100%;
  }
}